<% javascript('foreman_chef/jsoneditor', 'foreman_chef/chef_tab') %>

<div class="tab-pane" id="chef">

  <% communication_error = nil
  begin
    differs = chef_run_list_differs?(f.object)
  rescue => e
    communication_problem = e
  end -%>
  <% if differs %>
    <%= alert(:class => 'alert-warning', :header => 'Warning',
              :text => _('Run list on chef server differs, by submitting the form, you will override the run list there. ').html_safe +
                  link_to(_('Reset'), '#', :class => 'refresh_run_list', :'data-run-list' => (f.object.fresh_run_list.try(:to_form_json) || '[]')) +
                  _(' to run list from chef-server').html_safe) %>
  <% end %>

  <% if communication_problem %>
    <%= alert(:class => 'alert-warning', :header => 'Warning',
                         :text => (_('Unable to fetch data from Chef server - %s. Any changes to environment or runlist will not be persisted in Chef server. To fix it, save the host again when communication with Chef server is restored.') % e.message).html_safe) %>
  <% end %>

  <div id="runlist-editor" data-default="<%= f.object.run_list.to_form_json %>">

  </div>

  <%= f.hidden_field(:override_chef_attributes, :value => true) %>
</div>
